<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
  <title>Mongo Project</title>
  <style>
    table {
      counter-reset: section;
    }

    .slCounter:before {
      counter-increment: section;
      content: counter(section);
    }
  </style>
</head>
